
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, black, rgb(50, 2, 50));
    height: 100vh; 
    color: white;
}


nav {
    background-color: transparent; 
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.nav-container > div {
    text-align: center;
}


.nav-container a {
    color: white;
    text-decoration: none; 
    font-size: 1rem; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.nav-container a:hover {
    color: rgb(200, 200, 200); 
    cursor: pointer;
}


.Acheter {
    width: 90px; /* Largeur du bouton */
    height: 20px; /* Hauteur du bouton */
    background-color: transparent; /* Fond transparent */
    border-radius: 5px; /* Coins arrondis */
    border: solid 3px rgb(78, 3, 93); /* Bordure violette épaisse */
    cursor: pointer;
    font-size: 0.7rem; 
    font-weight: normal; /* Réduit l'épaisseur du texte */
    text-align: center; /* Centrer le texte horizontalement */
    text-color: grey;
}


