
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, black, rgb(50, 2, 50));
    height: 100vh; 
    color: white;
}


nav {
    background-color: transparent; 
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.nav-container > div {
    text-align: center;
}


.nav-container a {
    color: white;
    text-decoration: none; 
    font-size: 1rem; 
    font-weight: bold;
    transition: color 0.3s ease; 
}

.nav-container a:hover {
    color: rgb(200, 200, 200); 
    cursor: pointer;
}

.Achat {
    display: inline-block; /* Assure que le rectangle entoure uniquement le texte */
    padding: 10px 20px; /* Ajoute de l'espace autour du texte */
    background-color: transparent; /* Fond transparent */
    border: 2px solid purple; /* Bordure violette de 2px d'épaisseur */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centre le texte à l'intérieur du bouton */
    font-weight: bold; /* Texte en gras */
    color: white; /* Couleur du texte */
    transition: background-color 0.3s ease, color 0.3s ease;
}
